@{
  Layout = "_Layout";
}

@model BestRest.Models.Restaurant

<h2>Add a new Restaurant</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")
  <button type="submit" class="btn btn-primary" style="width:250px">Add New Restaurants</button>
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>